@import url('./header.css');
@import url('./home.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-white: #ffff;
    --color-green: #438642;
    --color-white-2: #d1ebda
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(to right, #ffffff, #5ba567);
}



#nosotros img {
    padding: 20px;
    max-width: 100%;
    height: auto;
}


S #products {
    padding: 50px;
}

.card {
    border-radius: 30px !important;
    transition: 0.5s;
    text-decoration: none;
    color: #000 !important;
}

.card-img-top {
    border: 1px solid var(--color-green);
    padding: 4px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px !important;
}

.btn-success {
    border: none !important;
    border-radius: 20px !important;
    font-weight: 400;
    background-color: #5BC659 !important;
}

.btn-success:hover {
    background-color: #459344 !important;
}

.card:hover {
    scale: 1.1;
    transition: 0.5s;
}



footer {
    border-top: solid 1px var(--color-white-2);
    padding: 20px;
    text-align: center;
}