@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-white: #ffff;
    --color-green: #5BC659;
    --color-white-2: #d1ebda
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}


/* header navbar */
header {
    background-color: rgba(255, 255, 255, 0.117);
    backdrop-filter: blur(10px);
    top: 0;
    position: sticky;
    border-bottom: solid 1px var(--color-white-2);
    z-index: 20;
}


.contactUs {
    background-color: var(--color-green);
    border-radius: 20px;
    padding: 0px 10px !important;

    a {
        color: var(--color-white) !important;
    }
}

.contactUs:hover {
    background-color: #459344;
}




/* hero */
.hero-wrap {


    img {
        height: 100px;
    }

    a {
        margin: 20px 0;
        border-radius: 30px;
        padding: 10px 40px;
        font-size: 1.3rem;
        color: var(--color-white) !important;
        text-decoration: none;
        border: none;
        background-color: var(--color-green);
    }

    .logos img {
        opacity: 20%;
    }

}

.hero-wrap a:hover {
    background-color: #459344;
}



.wrap-text {
    padding: 10px;
    font-size: 20px;

    h2 {
        font-size: 2rem;

        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.6;
        margin: 0 auto;
    }
}


#nosotros img {
    padding: 20px;
    max-width: 100%;
    height: auto;
}



#products {
    padding: 50px;
}

.card {
    border-radius: 30px !important;
    transition: 0.5s;
    text-decoration: none;
    color: #000 !important;
}

.card-img-top {
    border: 1px solid var(--color-green);
    padding: 4px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px !important;
}

.btn-success {
    border: none !important;
    border-radius: 20px !important;
    font-weight: 400;
    background-color: #5BC659 !important;
}

.btn-success:hover {
    background-color: #459344 !important;
}

.card:hover {
    scale: 1.1;
    transition: 0.5s;
}



footer {
    border-top: solid 1px var(--color-white-2);
    padding: 20px;
    text-align: center;
}